Repository home-assistant/addons, pull requests merged in 2019-12, with the labels that each got.

#864 Fix cerbot aws issue + update certbot
  letsencrypt/CHANGELOG.md
  letsencrypt/Dockerfile
  letsencrypt/build.json
  letsencrypt/data/run.sh
Labels: add-on: letsencrypt, cla-signed

#866 samba: Documentation improvements
  samba/README.md
Labels: add-on: samba, cla-signed

#867 cec_scan: Removes condescending language from documentation
  cec_scan/README.md
Labels: add-on: cec_scan, cla-signed

#870 deconz: Removes condescending language from documentation
  deconz/README.md
Labels: add-on: deconz, cla-signed

#868 check_config: Removes condescending language from documentation
  check_config/README.md
Labels: add-on: check_config, cla-signed

#869 configurator: Removes condescending language from documentation
  configurator/README.md
Labels: add-on: configurator, cla-signed

#871 dhcp_server: Removes condescending language and small improvements to docs
  dhcp_server/README.md
Labels: add-on: dhcp_server, cla-signed

#872 duckdns: Removes condescending language and small improvements to docs
  duckdns/README.md
Labels: add-on: duckdns, cla-signed

#873 UPnP support & improve udev device handling
  deconz/CHANGELOG.md
  deconz/Dockerfile
  deconz/README.md
  deconz/config.json
  deconz/data/run.sh
Labels: add-on: deconz, cla-signed

#875 Revert "UPnP support & improve udev device handling"
  deconz/CHANGELOG.md
  deconz/Dockerfile
  deconz/README.md
  deconz/config.json
  deconz/data/run.sh
Labels: cla-signed

#876 Deconz
  deconz/CHANGELOG.md
  deconz/Dockerfile
  deconz/README.md
  deconz/config.json
  deconz/data/run.sh
Labels: add-on: deconz, cla-signed

#743 homematic add-on to use Bashio #725
  homematic/CHANGELOG.md
  homematic/data/run.sh
Labels: Hacktoberfest, add-on: homematic, cla-signed

#880 Hm update
  homematic/CHANGELOG.md
  homematic/Dockerfile
  homematic/build.json
  homematic/config.json
  homematic/data/config/crRFD.conf
  homematic/data/hm-firmware.sh
  homematic/data/hm-interface.sh
  homematic/data/run.sh
Labels: cla-signed

#884 Update Hass.io CLI to 3.1.1
  ssh/CHANGELOG.md
  ssh/README.md
  ssh/build.json
  ssh/config.json
Labels: add-on: ssh

#885 Update Hass.io CLI to 3.1.1
  git_pull/CHANGELOG.md
  git_pull/build.json
  git_pull/config.json
Labels: add-on: git_pull

#891 Small improvements to the Almond add-on
  almond/Dockerfile
  almond/README.md
  almond/azure-pipelines.yml
  almond/config.json
Labels: add-on: almond, cla-signed

#893 almond: Sort build.json
  almond/build.json
Labels: add-on: almond, cla-signed

#894 cec_scan: Collection of styling improvements
  cec_scan/CHANGELOG.md
  cec_scan/Dockerfile
  cec_scan/azure-pipelines.yml
  cec_scan/build.json
  cec_scan/config.json
  cec_scan/data/run.sh
Labels: add-on: cec_scan, cla-signed

#901 git_pull: Collection of improvements
  git_pull/Dockerfile
  git_pull/README.md
  git_pull/azure-pipelines.yml
  git_pull/build.json
  git_pull/config.json
  git_pull/data/run.sh
Labels: add-on: git_pull, cla-signed

#900 duckdns: Collection of improvements
  duckdns/Dockerfile
  duckdns/README.md
  duckdns/azure-pipelines.yml
  duckdns/build.json
  duckdns/config.json
Labels: add-on: duckdns, cla-signed

#899 dnsmasq: Collection of small improvements
  dnsmasq/Dockerfile
  dnsmasq/README.md
  dnsmasq/azure-pipelines.yml
  dnsmasq/build.json
  dnsmasq/config.json
  dnsmasq/data/dnsmasq.conf
  dnsmasq/data/run.sh
Labels: add-on: dnsmasq, cla-signed

#898 dhcp_server: Collection of styling changes
  dhcp_server/Dockerfile
  dhcp_server/azure-pipelines.yml
  dhcp_server/build.json
  dhcp_server/config.json
  dhcp_server/data/run.sh
Labels: add-on: dhcp_server, cla-signed

#897 deconz: Collection of styling improvements and logo optimization
  deconz/azure-pipelines.yml
  deconz/build.json
  deconz/logo.png
Labels: add-on: deconz, cla-signed

#896 configurator: Collection of styling improvements
  configurator/Dockerfile
  configurator/azure-pipelines.yml
  configurator/build.json
  configurator/config.json
Labels: add-on: configurator, cla-signed

#895 check_config: Sort/Prettier JSON and YAML files
  check_config/azure-pipelines.yml
  check_config/build.json
  check_config/config.json
Labels: add-on: check_config, cla-signed

#889 Update documentation & Dockerfile source locations
  ada/CHANGELOG.md
  ada/Dockerfile
  ada/README.md
  ada/azure-pipelines.yml
  ada/build.json
  ada/config.json
Labels: add-on: ada, cla-signed

#902 configurator: Removed direct access, simplified code, bump to 4.0
  configurator/CHANGELOG.md
  configurator/Dockerfile
  configurator/build.json
  configurator/config.json
  configurator/data/configurator.conf
  configurator/data/run.sh
Labels: add-on: configurator, cla-signed

#906 configurator: Fix and enforce secure base path
  configurator/CHANGELOG.md
  configurator/config.json
  configurator/data/run.sh
Labels: add-on: configurator, cla-signed

#907 homematic: Collection of small improvements
  homematic/Dockerfile
  homematic/README.md
  homematic/azure-pipelines.yml
  homematic/config.json
  homematic/data/hm-firmware.sh
Labels: add-on: homematic, cla-signed

#908 letsencrypt: Collection of small improvements
  letsencrypt/Dockerfile
  letsencrypt/README.md
  letsencrypt/azure-pipelines.yml
  letsencrypt/build.json
  letsencrypt/config.json
Labels: add-on: letsencrypt, cla-signed

#909 mariadb: Collection of small improvements
  mariadb/CHANGELOG.md
  mariadb/Dockerfile
  mariadb/README.md
  mariadb/azure-pipelines.yml
  mariadb/config.json
  mariadb/data/mariadb-server.cnf
  mariadb/data/run.sh
Labels: add-on: mariadb, cla-signed

#918 Rewrite repository README
  README.md
Labels: cla-signed

#917 Prettier main Azure Pipeline YAML
  azure-pipelines.yml
Labels: cla-signed

#916 tellstick: Collection of small improvements
  tellstick/Dockerfile
  tellstick/README.md
  tellstick/azure-pipelines.yml
  tellstick/config.json
  tellstick/data/run.sh
Labels: add-on: tellstick, cla-signed

#915 ssh: Collection of small improvements
  ssh/CHANGELOG.md
  ssh/Dockerfile
  ssh/README.md
  ssh/azure-pipelines.yml
  ssh/build.json
Labels: add-on: ssh, cla-signed

#914 snips: Collection of small improvements
  snips/Dockerfile
  snips/README.md
  snips/azure-pipelines.yml
  snips/config.json
  snips/data/customtts.sh
  snips/data/mosquitto.conf
  snips/data/run.sh
  snips/data/snips-entrypoint.sh
Labels: add-on: snips, cla-signed

#911 nginx_proxy: Collection of small improvements
  nginx_proxy/Dockerfile
  nginx_proxy/README.md
  nginx_proxy/azure-pipelines.yml
  nginx_proxy/build.json
  nginx_proxy/config.json
Labels: add-on: nginx_proxy, cla-signed

#910 mosquitto: Collection of small improvements
  mosquitto/Dockerfile
  mosquitto/README.md
  mosquitto/azure-pipelines.yml
  mosquitto/build.json
  mosquitto/config.json
Labels: add-on: mosquitto, cla-signed

#913 samba: Collection of small improvements
  samba/Dockerfile
  samba/azure-pipelines.yml
  samba/config.json
  samba/data/run.sh
  samba/data/smb.conf
Labels: add-on: samba, cla-signed

#912 rpc_shutdown: Collection of small improvements
  rpc_shutdown/CHANGELOG.md
  rpc_shutdown/Dockerfile
  rpc_shutdown/README.md
  rpc_shutdown/azure-pipelines.yml
  rpc_shutdown/config.json
  rpc_shutdown/data/run.sh
Labels: add-on: rpc_shutdown, cla-signed

#920 Update HM to 9.4
  homematic/CHANGELOG.md
  homematic/Dockerfile
  homematic/build.json
  homematic/config.json
  homematic/data/config/crRFD.conf
Labels: cla-signed

#921 Fix ReGaHss
  homematic/CHANGELOG.md
  homematic/Dockerfile
  homematic/config.json
Labels: cla-signed

#922 deconz: Add Ingress
  deconz/CHANGELOG.md
  deconz/Dockerfile
  deconz/README.md
  deconz/build.json
  deconz/config.json
  deconz/data/discovery.sh
  deconz/data/nginx.conf
  deconz/data/run.sh
Labels: add-on: deconz, cla-signed

#923 deconz: Change API port to 40850, hotfix discovery
  deconz/CHANGELOG.md
  deconz/config.json
  deconz/data/discovery.sh
  deconz/data/nginx.conf
  deconz/data/run.sh
Labels: add-on: deconz, bug, cla-signed

#927 Hm regahss normal
  homematic/CHANGELOG.md
  homematic/Dockerfile
  homematic/build.json
  homematic/config.json
  homematic/data/run.sh
Labels: cla-signed

#935 deconz: Docs, added troubleshooting and inter-add-on communications
  deconz/README.md
Labels: add-on: deconz, cla-signed

#940 configurator: Fix issue with dirs first, bump 4.2
  configurator/CHANGELOG.md
  configurator/config.json
  configurator/data/run.sh
Labels: add-on: configurator, cla-signed

#945 deconz: Bump 5.0, Ingress fixes, Websocket support, direct access
  deconz/CHANGELOG.md
  deconz/README.md
  deconz/config.json
  deconz/data/discovery.sh
  deconz/data/nginx.conf
  deconz/data/run.sh
Labels: add-on: deconz, cla-signed

#954 ssh: Add web terminal, alpine 3.11, improved token handling, bump 8.0
  ssh/CHANGELOG.md
  ssh/Dockerfile
  ssh/build.json
  ssh/config.json
  ssh/data/.tmux.conf
  ssh/data/hassio.sh
  ssh/data/run.sh
  ssh/data/sshd_config
Labels: add-on: ssh, cla-signed

#957 Fix missing .bash_profile on fresh install, add current path to prompt
  ssh/CHANGELOG.md
  ssh/config.json
  ssh/data/hassio.sh
  ssh/data/run.sh
Labels: add-on: ssh, cla-signed

#944 deconz: recommend using by-id serial device path
  deconz/README.md
Labels: add-on: deconz, cla-signed
