Repository home-assistant/addons, pull requests merged in 2019-08, with the labels that each got.

#650 Cleanup old arch handling from deconz
  deconz/Dockerfile
Labels: cla-signed

#651 ssh: Upgrades Hassio CLI to v2.3.0
  ssh/CHANGELOG.md
  ssh/build.json
  ssh/config.json
Labels: add-on: ssh, cla-signed

#652 git_pull: Upgrades Hassio CLI to v2.3.0
  git_pull/CHANGELOG.md
  git_pull/build.json
  git_pull/config.json
Labels: add-on: git_pull, cla-signed

#655 dhcp_server: Corrected 172800 seconds to two days, not one day
  dhcp_server/README.md
Labels: add-on: dhcp_server, cla-signed

#659 git_pull: Upgrades Hassio CLI to v3.0.0
  git_pull/CHANGELOG.md
  git_pull/build.json
  git_pull/config.json
  git_pull/run.sh
Labels: add-on: git_pull, cla-signed

#660 ssh: Upgrades Hassio CLI to v3.0.0
  ssh/CHANGELOG.md
  ssh/build.json
  ssh/config.json
Labels: add-on: ssh, cla-signed

#662 Update nginx
  nginx_proxy/CHANGELOG.md
  nginx_proxy/Dockerfile
  nginx_proxy/build.json
  nginx_proxy/data/nginx.conf
  nginx_proxy/data/run.sh
Labels: cla-signed

#664 ssh: Upgrades Hassio CLI to v3.1.0
  ssh/CHANGELOG.md
  ssh/build.json
  ssh/config.json
Labels: add-on: ssh, cla-signed

#665 git_pull: Upgrades Hassio CLI to v3.1.0
  git_pull/CHANGELOG.md
  git_pull/build.json
  git_pull/config.json
Labels: add-on: git_pull, cla-signed

#677 Small bugfix with dehydrated lock files
  duckdns/CHANGELOG.md
  duckdns/config.json
  duckdns/data/run.sh
Labels: cla-signed

#671 deCONZ 2.05.67 / new udev functions
  deconz/CHANGELOG.md
  deconz/Dockerfile
  deconz/build.json
  deconz/config.json
  deconz/data/run.sh
Labels: cla-signed

#679 Fix deconz relative device path
  deconz/CHANGELOG.md
  deconz/config.json
  deconz/data/run.sh
Labels: cla-signed
