Repository home-assistant/addons, pull requests merged in 2019-10, with the labels that each got.

#748 Added README.md file for mosquitto broker addon
  mosquitto/README.md
Labels: Hacktoberfest, add-on: mosquitto, cla-signed

#758 Update README.md
  samba/README.md
Labels: Hacktoberfest, cla-signed

#744 Update mariadb add-on to use Bashio #727
  mariadb/CHANGELOG.md
  mariadb/config.json
  mariadb/run.sh
Labels: Hacktoberfest, add-on: mariadb, cla-signed

#749 Complete DuckDNS add-on documentation
  duckdns/README.md
Labels: Hacktoberfest, add-on: duckdns, cla-signed

#750 Update samba add-on to use Bashio #735
  samba/CHANGELOG.md
  samba/config.json
  samba/run.sh
Labels: Hacktoberfest, add-on: samba, cla-signed

#766 add README.md for Snips.ai addon
  snips/README.md
Labels: Hacktoberfest, add-on: snips, cla-signed

#762 Update configurator to 0.3.6
  configurator/CHANGELOG.md
  configurator/build.json
  configurator/config.json
Labels: Hacktoberfest, add-on: configurator, cla-signed

#746 Added rpc_shutdown documentation.
  rpc_shutdown/README.md
Labels: Hacktoberfest, add-on: rpc_shutdown, cla-signed

#751 Create README for NGINX Proxy
  nginx_proxy/README.md
Labels: Hacktoberfest, add-on: nginx_proxy, cla-signed

#775 Create README for Git pull add-on
  git_pull/README.md
Labels: Hacktoberfest, add-on: git_pull, cla-signed

#777 Update README.md
  samba/README.md
Labels: Hacktoberfest, add-on: samba, cla-signed

#778 samba: Fixes startup error and some minor cleanups
  samba/CHANGELOG.md
  samba/Dockerfile
  samba/README.md
  samba/config.json
  samba/run.sh
Labels: Hacktoberfest, add-on: samba, bug, cla-signed

#747 Update azure-pipelines.yml
  azure-pipelines.yml
Labels: Hacktoberfest, cla-signed

#785 Update README.md
  tellstick/README.md
Labels: Hacktoberfest, add-on: tellstick, cla-signed

#788 Update README.md
  dnsmasq/README.md
Labels: Hacktoberfest, add-on: dnsmasq, cla-signed

#787 Update README.md
  letsencrypt/README.md
Labels: Hacktoberfest, add-on: letsencrypt, cla-signed

#790 Update README.md
  deconz/README.md
Labels: Hacktoberfest, add-on: deconz, cla-signed

#789 Update README.md
  dhcp_server/README.md
Labels: Hacktoberfest, add-on: dhcp_server, cla-signed

#759 Delay shutting down the PC
  rpc_shutdown/CHANGELOG.md
  rpc_shutdown/config.json
  rpc_shutdown/run.sh
Labels: Hacktoberfest, add-on: rpc_shutdown, cla-signed

#792 Delay shutting down the PC
  rpc_shutdown/CHANGELOG.md
  rpc_shutdown/config.json
  rpc_shutdown/run.sh
Labels: cla-signed

#793 Update readme.md for update 2.1
  rpc_shutdown/README.md
Labels: Hacktoberfest, add-on: rpc_shutdown, cla-signed

#784 Update nginx_proxy add-on to use Bashio
  nginx_proxy/config.json
  nginx_proxy/data/run.sh
Labels: cla-signed

#795 Add docs for the `cloudflare` flag
  nginx_proxy/README.md
Labels: cla-signed

#797 Update snips 0.64.0
  snips/CHANGELOG.md
  snips/Dockerfile
  snips/build.json
  snips/config.json
Labels: cla-signed

#799 Update README.md for Mosquitto addon
  mosquitto/README.md
Labels: Hacktoberfest, add-on: mosquitto, cla-signed

#798 Update README.md for RPC Shutdown addon
  rpc_shutdown/README.md
Labels: Hacktoberfest, add-on: rpc_shutdown, cla-signed

#780 HomeMatic README for #726
  homematic/README.md
Labels: Hacktoberfest, add-on: homematic, cla-signed

#807 Almond
  .hadolint.yaml
  almond/Dockerfile
  almond/README.md
  almond/azure-pipelines.yml
  almond/build.json
  almond/config.json
  almond/data/nginx.conf
  almond/data/run.sh
  almond/logo.png
Labels: cla-signed

#811 Update HomeMatic 3.47.22-3
  homematic/CHANGELOG.md
  homematic/build.json
  homematic/config.json
Labels: cla-signed
