Repository home-assistant/addons, pull requests merged in 2020-05, with the labels that each got.

#1218 git_pull: delete key file first so we are not always appending
  git_pull/CHANGELOG.md
  git_pull/config.json
  git_pull/data/run.sh
Labels: cla-signed

#1265 Update README.md [add-on: google_assistant]
  google_assistant/DOC.md
  google_assistant/README.md
Labels: add-on: google_assistant, cla-signed

#1267 Upgrade web server for OAuth connection process [add-on: google_assistant]
  google_assistant/CHANGELOG.md
  google_assistant/config.json
  google_assistant/rootfs/etc/services.d/google-assistant/run
  google_assistant/rootfs/usr/bin/hassio_oauth.py
  google_assistant/rootfs/usr/share/public/css/style.css
  google_assistant/rootfs/usr/share/public/favicon.ico
  google_assistant/rootfs/usr/share/public/logo.png
Labels: cla-signed

#1289 wontfix -> stale
  .github/stale.yml
Labels: cla-signed

#1290 Adding official deCONZ Discord url
  deconz/README.md
Labels: add-on: deconz, cla-signed

#1292 ada: Split documentation
  ada/DOCS.md
  ada/README.md
Labels: add-on: ada, cla-signed

#1295 check_config: Split documentation
  check_config/DOCS.md
  check_config/README.md
Labels: add-on: check_config, cla-signed

#1293 almond: Split documentation
  almond/DOCS.md
  almond/README.md
Labels: add-on: almond, cla-signed

#1294 cec_scan: Split documentation
  cec_scan/DOCS.md
  cec_scan/README.md
Labels: add-on: cec_scan, cla-signed

#1296 configurator: Split documentation
  configurator/DOCS.md
  configurator/README.md
Labels: add-on: configurator, cla-signed

#1297 deconz: Split documentation
  deconz/DOCS.md
  deconz/README.md
Labels: add-on: deconz, cla-signed

#1298 dhcp_server: Split documentation
  dhcp_server/DOCS.md
  dhcp_server/README.md
Labels: add-on: dhcp_server, cla-signed

#1299 zwave: Split more documentation
  zwave/DOC.md
  zwave/DOCS.md
  zwave/README.md
Labels: add-on: OpenZwave, cla-signed

#1301 dnsmasq: Split documentation
  dnsmasq/DOCS.md
  dnsmasq/README.md
Labels: add-on: dnsmasq, cla-signed

#1300 tellstick: Split documentation
  tellstick/DOCS.md
  tellstick/README.md
Labels: add-on: tellstick, cla-signed

#1302 ssh: Split documentation
  ssh/DOCS.md
  ssh/README.md
Labels: add-on: ssh, cla-signed

#1303 duckdns: Split documentation
  duckdns/DOCS.md
  duckdns/README.md
Labels: add-on: duckdns, cla-signed

#1305 git_pull: Split documentation
  git_pull/DOCS.md
  git_pull/README.md
Labels: add-on: git_pull, cla-signed

#1304 samba: Split documentation
  samba/DOCS.md
  samba/README.md
Labels: add-on: samba, cla-signed

#1306 rpc_shutdown: Split documentation
  rpc_shutdown/DOCS.md
  rpc_shutdown/README.md
Labels: add-on: rpc_shutdown, cla-signed

#1307 homematic: Split documentation
  homematic/DOCS.md
  homematic/README.md
Labels: add-on: homematic, cla-signed

#1308 nginx_proxy: Split documentation
  nginx_proxy/DOCS.md
  nginx_proxy/README.md
Labels: add-on: nginx_proxy, cla-signed

#1309 letsencrypt: Split documentation
  letsencrypt/DOCS.md
  letsencrypt/README.md
Labels: add-on: letsencrypt, cla-signed

#1310 mosquitto: Split documentation
  mosquitto/DOCS.md
  mosquitto/README.md
Labels: add-on: mosquitto, cla-signed

#1311 mariadb: Split documentation
  mariadb/DOCS.md
  mariadb/README.md
Labels: add-on: mariadb, cla-signed

#1285 Rename DOC.md to DOCS.md
  google_assistant/DOCS.md
  google_assistant/README.md
Labels: add-on: google_assistant, cla-signed

#1313 google_assistant: Fixes links in readme
  google_assistant/DOCS.md
  google_assistant/README.md
Labels: add-on: google_assistant, cla-signed

#1316 Explain how to use route53 dns challenge
  letsencrypt/DOCS.md
Labels: cla-signed

#1253 Duckdns alias support
  duckdns/CHANGELOG.md
  duckdns/DOCS.md
  duckdns/config.json
  duckdns/data/hooks.sh
Labels: add-on: duckdns, cla-signed

#1287 letsencrypt: Add Gandi DNS provider
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.json
  letsencrypt/config.json
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: add-on: letsencrypt, cla-signed

#1339 deconz: Bump deCONZ to 2.05.76
  deconz/CHANGELOG.md
  deconz/build.json
  deconz/config.json
Labels: cla-signed

#1322 Add support for TransIP DNS Provider
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.json
  letsencrypt/config.json
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-error, cla-signed

#1346 deconz: Bump deCONZ to 2.05.77
  deconz/CHANGELOG.md
  deconz/build.json
  deconz/config.json
Labels: cla-signed

#1351 Add OVH provider
  letsencrypt/DOCS.md
Labels: add-on: letsencrypt, cla-signed

#1357 Update config.json
  zwave/CHANGELOG.md
  zwave/config.json
Labels: cla-signed

#1335 Fix shield icons in Letsencrypt readme
  letsencrypt/README.md
Labels: cla-signed

#1359 nginx_proxy: Fix the use of subfolders in certificate files
  nginx_proxy/CHANGELOG.md
  nginx_proxy/config.json
  nginx_proxy/data/run.sh
Labels: add-on: nginx_proxy, cla-signed
