Repository home-assistant/addons, pull requests merged in 2020-01, with the labels that each got.

#970 Spell Zigbee with lowercase "b"
  README.md
  deconz/README.md
  deconz/config.json
Labels: add-on: deconz, cla-signed

#969 Make deCONZ VNC URL a link
  deconz/README.md
Labels: add-on: deconz, cla-signed

#975 Changed Telldus wiki link, https not supported.
  tellstick/README.md
Labels: add-on: tellstick, cla-signed

#978 configurator: Adjust documentation for Ingress only
  configurator/README.md
Labels: add-on: configurator, cla-signed

#966 Remove .git suffix from schema
  git_pull/CHANGELOG.md
  git_pull/README.md
  git_pull/build.json
  git_pull/config.json
Labels: cla-signed

#984 Typo fix
  deconz/README.md
Labels: add-on: deconz, cla-signed

#983 deconz: Add LEDVANCE / OSRAM otau firmware downloader
  deconz/CHANGELOG.md
  deconz/Dockerfile
  deconz/config.json
  deconz/data/ledvance-otau-dl.sh
  deconz/data/run.sh
Labels: cla-error, cla-signed

#905 google_assistant: Collection of improvement and changes
  google_assistant/CHANGELOG.md
  google_assistant/Dockerfile
  google_assistant/README.md
  google_assistant/azure-pipelines.yml
  google_assistant/config.json
  google_assistant/data/hassio_gassistant.py
  google_assistant/data/hassio_oauth.py
  google_assistant/data/run.sh
  google_assistant/run.sh
Labels: add-on: google_assistant, cla-signed

#990 Fix #815
  cec_scan/CHANGELOG.md
  cec_scan/Dockerfile
  cec_scan/build.json
  cec_scan/config.json
Labels: cla-signed

#991 nginx_proxy: Remove IPv6 Listen statements from nginx.conf
  nginx_proxy/CHANGELOG.md
  nginx_proxy/config.json
  nginx_proxy/data/nginx.conf
Labels: add-on: nginx_proxy, cla-signed

#988 Fix route53, add google dns, fix documentation
  README.md
  letsencrypt/CHANGELOG.md
  letsencrypt/README.md
  letsencrypt/config.json
  letsencrypt/data/run.sh
Labels: cla-signed

#1011 Fix homematic documentation link
  homematic/config.json
Labels: add-on: homematic, cla-signed

#1018 duckdns: reject insecure Duck DNS https API access
  duckdns/CHANGELOG.md
  duckdns/data/run.sh
Labels: cla-signed

#1026 Updated Google Assistant SDK documentation
  google_assistant/README.md
Labels: add-on: google_assistant, cla-signed
