Repository home-assistant/addons, pull requests merged in 2021-07, with the labels that each got.

#2106 Add default WSL
  .devcontainer/supervisor.sh
Labels: cla-signed

#2100 Document `apks` option of ssh addon
  ssh/DOCS.md
Labels: add-on: ssh, cla-signed

#2109 Update base and allow stable/beta/dev
  check_config/CHANGELOG.md
  check_config/DOCS.md
  check_config/build.json
  check_config/config.json
  check_config/rootfs/etc/services.d/check-config/run
  check_config/translations/en.yaml
Labels: add-on: check_config, cla-signed

#2048 Add Linode example w/notes on API & type error
  letsencrypt/DOCS.md
Labels: add-on: letsencrypt, cla-signed, documentation

#2112 Update file editor base to 3.14
  configurator/CHANGELOG.md
  configurator/Dockerfile
  configurator/build.json
  configurator/config.json
Labels: add-on: configurator, cla-signed

#2111 Wrap provider configurations in details blocks
  letsencrypt/DOCS.md
Labels: add-on: letsencrypt, cla-signed, documentation

#2116 Add documentation for configuring RFC2136 provider
  letsencrypt/DOCS.md
Labels: add-on: letsencrypt, cla-signed, documentation

#2117 Bump zwave-js to 7.12.0
  zwave_js/CHANGELOG.md
  zwave_js/build.json
  zwave_js/config.json
Labels: cla-signed

#2113 Update base to 3.14
  nginx_proxy/CHANGELOG.md
  nginx_proxy/build.json
  nginx_proxy/config.json
Labels: add-on: nginx_proxy, cla-signed

#2110 Update base and dehydrated
  duckdns/CHANGELOG.md
  duckdns/build.json
  duckdns/config.json
Labels: add-on: duckdns, cla-signed

#2042 Update Almond to 2.0.0
  almond/CHANGELOG.md
  almond/DOCS.md
  almond/Dockerfile
  almond/README.md
  almond/build.json
  almond/config.json
  almond/rootfs/etc/almond/default-prefs.db
  almond/rootfs/etc/cont-init.d/almond.sh
  almond/rootfs/etc/nginx/nginx.conf
  almond/rootfs/etc/services.d/almond/run
Labels: add-on: almond, cla-signed

#2120 Using new URL for almond
  almond/CHANGELOG.md
  almond/config.json
  almond/rootfs/etc/services.d/almond/register
Labels: add-on: almond, cla-signed

#2123 Bump zwave-js and zwave-js-server
  zwave_js/CHANGELOG.md
  zwave_js/build.json
  zwave_js/config.json
Labels: cla-signed

#2124 Bump zwave-js-server to 1.9.1
  zwave_js/CHANGELOG.md
  zwave_js/build.json
  zwave_js/config.json
Labels: cla-signed

#2126 configurator: Fix Home Assistant API endpoint
  configurator/CHANGELOG.md
  configurator/config.json
  configurator/rootfs/etc/configurator.conf
Labels: add-on: configurator, cla-signed

#2119 nginx: Fix incorrect display of YAML config example in documentation
  nginx_proxy/DOCS.md
Labels: add-on: nginx_proxy, cla-signed, documentation

#2127 Bump zwave-js to 8.0.5
  zwave_js/CHANGELOG.md
  zwave_js/build.json
  zwave_js/config.json
Labels: cla-signed

#2132 Bump zwave-js to 8.0.6
  zwave_js/CHANGELOG.md
  zwave_js/build.json
  zwave_js/config.json
Labels: cla-signed

#2134 Bump zwave-js-server to 1.9.2
  zwave_js/CHANGELOG.md
  zwave_js/build.json
  zwave_js/config.json
Labels: cla-signed
