Repository home-assistant/addons, pull requests merged in 2021-05, with the labels that each got.

#2000 Use WORKSPACE_DIRECTORY for add-on directory
  .devcontainer/devcontainer.json
  .devcontainer/supervisor.sh
Labels: cla-signed

#2006 deCONZ: Update to v2.11.5
  deconz/CHANGELOG.md
  deconz/build.json
  deconz/config.json
Labels: cla-signed

#2007 mosquitto: 6.0.0
  mosquitto/CHANGELOG.md
  mosquitto/DOCS.md
  mosquitto/Dockerfile
  mosquitto/build.json
  mosquitto/config.json
  mosquitto/data/auth_srv.sh
  mosquitto/data/mosquitto.conf
  mosquitto/data/run.sh
  mosquitto/rootfs/etc/cont-init.d/mosquitto.sh
  mosquitto/rootfs/etc/cont-init.d/nginx.sh
  mosquitto/rootfs/etc/services.d/mosquitto/discovery
  mosquitto/rootfs/etc/services.d/mosquitto/finish
  mosquitto/rootfs/etc/services.d/mosquitto/run
  mosquitto/rootfs/etc/services.d/nginx/finish
  mosquitto/rootfs/etc/services.d/nginx/run
  mosquitto/rootfs/usr/share/tempio/mosquitto.gtpl
  mosquitto/rootfs/usr/share/tempio/nginx.gtpl
Labels: add-on: mosquitto, cla-signed

#2009 configurator: Update base image to Alpine 3.13
  configurator/CHANGELOG.md
  configurator/Dockerfile
  configurator/build.json
  configurator/config.json
Labels: add-on: configurator, cla-signed

#2012 mosquitto: Fix loading custom mosquitto configuration
  mosquitto/CHANGELOG.md
  mosquitto/config.json
  mosquitto/rootfs/etc/cont-init.d/mosquitto.sh
Labels: add-on: mosquitto, cla-signed

#2017 ssh: Upgrade CLI to 4.12.2
  ssh/CHANGELOG.md
  ssh/build.json
  ssh/config.json
Labels: add-on: ssh, cla-signed

#2018 git-pull: Upgrade CLI to 4.12.2
  git_pull/CHANGELOG.md
  git_pull/build.json
  git_pull/config.json
Labels: add-on: git_pull, cla-signed

#2023 samba: 9.4.0 (Alpine 3.13 + tempio)
  samba/CHANGELOG.md
  samba/build.json
  samba/config.json
  samba/rootfs/etc/cont-init.d/samba.sh
  samba/rootfs/etc/samba/smb.conf
  samba/rootfs/usr/share/tempio/smb.gtpl
Labels: add-on: samba, cla-signed

#2035 Bump versions for zwave_js addon
  zwave_js/CHANGELOG.md
  zwave_js/build.json
  zwave_js/config.json
Labels: cla-signed

#2031 samba: Using network layer instead options
  samba/CHANGELOG.md
  samba/config.json
  samba/rootfs/etc/cont-init.d/samba.sh
Labels: add-on: samba, cla-signed

#2039 Bump zwave-js-server to 1.7.0 and zwave-js to 7.6.0
  zwave_js/CHANGELOG.md
  zwave_js/build.json
  zwave_js/config.json
Labels: cla-signed

#2036 ssh: Upgrade CLI to 4.12.3
  ssh/CHANGELOG.md
  ssh/build.json
  ssh/config.json
Labels: add-on: ssh, cla-signed

#2038 Persist zwave_js device config files
  zwave_js/rootfs/etc/cont-init.d/structure.sh
  zwave_js/rootfs/etc/services.d/zwave_js/run
Labels: cla-signed

#2041 Fix small typo in issue template
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
Labels: cla-signed

#2044 Bump zwave-js to 7.7.0
  zwave_js/CHANGELOG.md
  zwave_js/build.json
  zwave_js/config.json
Labels: cla-signed

#2043 Samba: Remove interface option in documentation
  samba/DOCS.md
Labels: add-on: samba, cla-signed
