Repository home-assistant/addons, pull requests merged in 2022-06, with the labels that each got.

#2518 Bump config check base to `2022.05.0`
  check_config/CHANGELOG.md
  check_config/build.yaml
  check_config/config.yaml
Labels: cla-signed, add-on: check_config, dependencies

#2521 check_config: Fix check config finish script
  check_config/CHANGELOG.md
  check_config/config.yaml
  check_config/rootfs/etc/services.d/check-config/finish
Labels: cla-signed, add-on: check_config

#2525 samba: Upgrades add-on base images to Alpine 3.15
  samba/CHANGELOG.md
  samba/build.yaml
  samba/config.yaml
  samba/rootfs/etc/services.d/nmbd/finish
  samba/rootfs/etc/services.d/nmbd/run
  samba/rootfs/etc/services.d/smbd/finish
  samba/rootfs/etc/services.d/smbd/run
Labels: cla-signed, add-on: samba

#2534 Bump zwave_js addon to 0.1.61
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#2539 Bump zwave-js-server to 1.19.0
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#2542 Bump zwave-js-server to 1.20.0
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#2544 Deprecate config check addon
  check_config/CHANGELOG.md
  check_config/README.md
  check_config/config.yaml
Labels: cla-signed

#2545 Samba: Don't mangle names by default
  samba/CHANGELOG.md
  samba/build.yaml
  samba/config.yaml
  samba/rootfs/usr/share/tempio/smb.gtpl
Labels: cla-signed, add-on: samba

#2530 Fix TLSv1.3
  nginx_proxy/CHANGELOG.md
  nginx_proxy/config.yaml
  nginx_proxy/data/nginx.conf
Labels: cla-signed

#2547 nginx_proxy: Fixes init config
  nginx_proxy/CHANGELOG.md
  nginx_proxy/config.yaml
Labels: cla-signed, add-on: nginx_proxy

#2551 nginx_proxy: Fixed container environment
  nginx_proxy/CHANGELOG.md
  nginx_proxy/config.yaml
  nginx_proxy/data/run.sh
Labels: cla-signed, add-on: nginx_proxy

#2549 Ensure all addons have init: false
  cec_scan/config.yaml
  dhcp_server/config.yaml
  dhcp_server/data/run.sh
  homematic/config.yaml
  mosquitto/config.yaml
  rpc_shutdown/config.yaml
  rpc_shutdown/data/run.sh
  tellstick/config.yaml
  tellstick/data/run.sh
Labels: cla-signed, add-on: mosquitto, add-on: dhcp_server, add-on: cec_scan, add-on: homematic, add-on: rpc_shutdown, add-on: tellstick

#2513 Add propagation delay for letsencrypt with RFC2136
  letsencrypt/CHANGELOG.md
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed

#2557 Fix letsencrypt typo again
  letsencrypt/CHANGELOG.md
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed

#2555 Update finish scripts for s6 v3
  ada/rootfs/etc/services.d/ada/finish
  almond/rootfs/etc/services.d/almond/finish
  almond/rootfs/etc/services.d/nginx/finish
  cec_scan/rootfs/etc/services.d/cec-scan/finish
  configurator/rootfs/etc/services.d/configurator/finish
  deconz/CHANGELOG.md
  deconz/config.yaml
  deconz/rootfs/etc/services.d/deconz/finish
  deconz/rootfs/etc/services.d/nginx/finish
  dnsmasq/rootfs/etc/services.d/dnsmasq/finish
  google_assistant/rootfs/etc/services.d/google-assistant/finish
  homematic/rootfs/etc/services.d/hmserver/finish
  homematic/rootfs/etc/services.d/nginx/finish
  homematic/rootfs/etc/services.d/regahss/finish
  homematic/rootfs/etc/services.d/rfd/finish
  homematic/rootfs/etc/services.d/wired/finish
  mariadb/rootfs/etc/services.d/mariadb/finish
  mosquitto/rootfs/etc/services.d/mosquitto/finish
  mosquitto/rootfs/etc/services.d/nginx/finish
  ssh/rootfs/etc/services.d/sshd/finish
  ssh/rootfs/etc/services.d/ttyd/finish
  vlc/rootfs/etc/services.d/nginx/finish
  vlc/rootfs/etc/services.d/vlc/finish
  zwave/rootfs/etc/services.d/mosquitto/finish
  zwave/rootfs/etc/services.d/ozwadmin/finish
  zwave/rootfs/etc/services.d/websockify/finish
  zwave/rootfs/etc/services.d/zwave/finish
  zwave_js/CHANGELOG.md
  zwave_js/config.yaml
  zwave_js/rootfs/etc/services.d/zwave_js/finish
Labels: cla-signed, add-on: deconz, add-on: ssh, add-on: mosquitto, add-on: configurator, add-on: cec_scan, add-on: dnsmasq, add-on: google_assistant, add-on: mariadb, add-on: ada, add-on: almond, add-on: zwave, add-on: zwave_js, add-on: vlc
