Repository home-assistant/addons, pull requests merged in 2022-07, with the labels that each got.

#2573 Update link to get installation type
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed

#2571 deCONZ 2.17.1 (stable)
  deconz/CHANGELOG.md
  deconz/build.yaml
  deconz/config.yaml
Labels: cla-signed, add-on: deconz

#2578 Revert "SSH: Update CLI 4.18.0 / Alpine 3.16"
  ssh/CHANGELOG.md
  ssh/build.yaml
  ssh/config.yaml
Labels: cla-signed

#2579 Update cli and alpine base in ssh addon
  ssh/CHANGELOG.md
  ssh/build.yaml
  ssh/config.yaml
  ssh/rootfs/etc/cont-init.d/profile.sh
  ssh/rootfs/etc/cont-init.d/ssh.sh
  ssh/rootfs/etc/fix-attrs.d/cli
  ssh/rootfs/etc/fix-attrs.d/profile
  ssh/rootfs/etc/fix-attrs.d/ssh
  ssh/rootfs/usr/bin/hassio
  ssh/rootfs/usr/local/bin/reboot
  ssh/rootfs/usr/local/bin/shutdown
Labels: cla-signed, add-on: ssh

#2585 Add breaking change information for rsa keys
  ssh/CHANGELOG.md
Labels: cla-signed

#2592 MariaDB: Remove `innodb_buffer_pool_instances`
  mariadb/CHANGELOG.md
  mariadb/config.yaml
  mariadb/rootfs/etc/my.cnf.d/mariadb-server.cnf
Labels: cla-signed, add-on: mariadb

#2347 Add Azure DNS challenge support
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#2603 Bump version and changelog for #2347
  letsencrypt/CHANGELOG.md
  letsencrypt/config.yaml
Labels: cla-signed, add-on: letsencrypt

#2602 Bump zwave-js-server to 1.21.0 and zwave-js to 9.6.2
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed
