Repository home-assistant/addons, pull requests merged in 2022-10, with the labels that each got.

#2695 Fix small typo in DHCP configuration translation
  dhcp_server/translations/en.yaml
Labels: cla-signed, Hacktoberfest, add-on: dhcp_server

#2697 Ask for system information in bug reports
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed, Hacktoberfest

#2681 New logo MQTT
  mosquitto/logo.png
Labels: cla-signed, add-on: mosquitto

#2692 Move Matter Server add-on to offical repository
  matter_server/0001-Avoid-python_runner.py-deadlock.patch
  matter_server/0001-Revert-Python-dependencies.patch
  matter_server/0001-Use-data-as-platform-storage-location.patch
  matter_server/CHANGELOG.md
  matter_server/DOCS.md
  matter_server/Dockerfile
  matter_server/README.md
  matter_server/build.yaml
  matter_server/cmake-remove-duplicate-LwsCheckRequirements.patch
  matter_server/config.yaml
  matter_server/icon.png
  matter_server/logo.png
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/banner/type
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/banner/up
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/dependencies.d/banner
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/finish
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/run
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/type
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/matter-server
  matter_server/rootfs/etc/s6-overlay/scripts/banner.sh
  matter_server/rootfs/etc/s6-overlay/scripts/matter-server-finish
  matter_server/translations/en.yaml
Labels: cla-signed, Hacktoberfest, add-on: matter_server

#2717 Bump deCONZ 2.19.1 (stable)
  deconz/CHANGELOG.md
  deconz/build.yaml
  deconz/config.yaml
Labels: cla-signed, Hacktoberfest
