Repository home-assistant/addons, pull requests merged in 2023-05, with the labels that each got.

#3018 nginx_proxy: Avoid logging to system console
  nginx_proxy/CHANGELOG.md
  nginx_proxy/config.yaml
  nginx_proxy/rootfs/etc/s6-overlay/s6-rc.d/crond/run
Labels: cla-signed

#3020 nginx_proxy: Decrease crond log level
  nginx_proxy/CHANGELOG.md
  nginx_proxy/config.yaml
  nginx_proxy/rootfs/etc/s6-overlay/s6-rc.d/crond/run
Labels: cla-signed, add-on: nginx_proxy

#2983 MariaDB: Migrate add-on layout to S6 Overlay
  mariadb/CHANGELOG.md
  mariadb/config.yaml
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-core/dependencies.d/mariadb-pre
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-core/finish
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-core/run
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-core/type
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-core/dependencies.d/mariadb
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-core/finish
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-core/notification-fd
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-core/run
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-core/type
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-post/dependencies.d/mariadb-lock-core
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-post/down
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-post/finish
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-post/run
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-post/type
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-post/up
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock/contents.d/mariadb-lock-core
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock/contents.d/mariadb-lock-post
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock/type
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-post/dependencies.d/mariadb-core
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-post/down
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-post/finish
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-post/run
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-post/type
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-post/up
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-pre/dependencies.d/base
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-pre/run
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-pre/type
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-pre/up
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb/contents.d/mariadb-core
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb/contents.d/mariadb-post
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb/contents.d/mariadb-pre
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb/type
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/mariadb
  mariadb/rootfs/etc/services.d/mariadb-lock/run
  mariadb/rootfs/etc/services.d/mariadb/finish
Labels: cla-signed, add-on: mariadb

#3025 silabs-multiprotocol: Disable mdns service if otbr agent is disabled
  silabs-multiprotocol/rootfs/etc/s6-overlay/scripts/otbr-enable-check.sh
Labels: cla-signed, add-on: silabs-multiprotocol

#3029 MariaDB: Use proper log redirection during backup
  mariadb/CHANGELOG.md
  mariadb/config.yaml
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-post/finish
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-lock-post/run
  mariadb/rootfs/usr/bin/lock-tables-for-backup
  mariadb/rootfs/usr/bin/unlock-tables-for-backup
Labels: cla-signed

#3036 Update list of Add-ons in the issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: cla-signed

#3038 Upgrade wyoming-faster-whisper to 0.0.3
  whisper/CHANGELOG.md
  whisper/DOCS.md
  whisper/build.yaml
  whisper/config.yaml
Labels: cla-signed

#3040 silabs-multiprotocol: Use native zigbeed on amd64
  silabs-multiprotocol/CHANGELOG.md
  silabs-multiprotocol/Dockerfile
  silabs-multiprotocol/Dockerfile.amd64
  silabs-multiprotocol/config.yaml
  silabs-multiprotocol/debian-amd64.cmake
  silabs-multiprotocol/execvp-aarch64.patch
  silabs-multiprotocol/rootfs.amd64/usr/local/bin/zigbeed
  silabs-multiprotocol/rootfs/etc/s6-overlay/scripts/otbr-enable-check.sh
Labels: cla-signed, add-on: silabs-multiprotocol

#3052 Fixed Typo on mosquitto add-on configuration
  mosquitto/rootfs/etc/services.d/mosquitto/discovery
Labels: cla-signed, add-on: mosquitto

#3053 nginx_proxy: update to Alpine 3.18, nginx 1.24.x
  nginx_proxy/CHANGELOG.md
  nginx_proxy/build.yaml
  nginx_proxy/config.yaml
Labels: cla-signed, add-on: nginx_proxy

#3058 Bump zwave-js to 10.21.0
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#3060 matter_server: Bump Python Matter server to 3.4.1 and Python 3.11
  matter_server/CHANGELOG.md
  matter_server/Dockerfile
  matter_server/build.yaml
Labels: cla-signed, add-on: matter_server

#3045 Fix Piper multi-line, voice checksum
  piper/CHANGELOG.md
  piper/DOCS.md
  piper/build.yaml
  piper/config.yaml
Labels: cla-signed, add-on: piper

#3061 matter_server: Actually bump add-on version to 4.5.0
  matter_server/config.yaml
Labels: cla-signed, add-on: matter_server

#3062 samba: Enable IPv6 ULA and IPv4 link-local addresses by default
  samba/CHANGELOG.md
  samba/DOCS.md
  samba/config.yaml
Labels: cla-signed, add-on: samba

#3065 Bump zwave-js to 10.22.2
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#3066 Update Z-Wave JS changelog
  zwave_js/CHANGELOG.md
Labels: cla-signed, add-on: zwave_js

#3069 Bump zwave-js to 10.22.3
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#3064 openthread_border_router: Bump to latest OTBR POSIX version
  openthread_border_router/0001-rest-implement-REST-API-to-get-dataset.patch
  openthread_border_router/0002-rest-support-state-change.patch
  openthread_border_router/CHANGELOG.md
  openthread_border_router/Dockerfile
  openthread_border_router/build.yaml
  openthread_border_router/config.yaml
Labels: cla-signed, add-on: openthread_border_router

#3067 silabs-multiprotocol: Update to upstream REST API
  silabs-multiprotocol/0001-dataset-add-otDatasetUpdateTlvs-API-8871.patch
  silabs-multiprotocol/0001-web-rest-listen-on-IPv6-addresses-as-well-1659.patch
  silabs-multiprotocol/0002-rest-add-active-dataset-API-1658.patch
  silabs-multiprotocol/0003-rest-use-map-for-HTTP-headers-1665.patch
  silabs-multiprotocol/0005-web-bump-to-latest-Simple-Web-Server-version-1667.patch
  silabs-multiprotocol/0006-rest-allow-to-specify-REST-listen-address-1670.patch
  silabs-multiprotocol/0007-rest-remove-superfluous-space-in-HTTP-status-line-17.patch
  silabs-multiprotocol/0008-rest-explicitly-set-Connection-header-to-close-1774.patch
  silabs-multiprotocol/0008-rest-support-state-change.patch
  silabs-multiprotocol/0009-rest-add-Operational-Dataset-API-1682.patch
  silabs-multiprotocol/0009-rest-remove-superfluous-space-in-HTTP-status-line.patch
  silabs-multiprotocol/0010-rest-allow-to-specify-REST-listen-port-1862.patch
  silabs-multiprotocol/0011-rest-support-Thread-state-change-1866.patch
  silabs-multiprotocol/CHANGELOG.md
  silabs-multiprotocol/Dockerfile
  silabs-multiprotocol/config.yaml
Labels: cla-signed, add-on: silabs-multiprotocol

#3074 SSH - bump CLI to 4.26.0
  ssh/CHANGELOG.md
  ssh/build.yaml
  ssh/config.yaml
Labels: cla-signed, add-on: ssh
