Repository home-assistant/addons, pull requests merged in 2023-06, with the labels that each got.

#3081 matter_server: Bump Python Matter server to 3.5.0
  matter_server/CHANGELOG.md
  matter_server/Dockerfile
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed, add-on: matter_server

#3056 letsencrypt: support Google Domains DNS challenge
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3083 openthread_border_router: enhance REST API to allow dataset reset
  openthread_border_router/0001-rest-initialize-dataset.patch
  openthread_border_router/0002-rest-support-deleting-the-dataset.patch
  openthread_border_router/CHANGELOG.md
  openthread_border_router/Dockerfile
  openthread_border_router/config.yaml
Labels: cla-signed, add-on: openthread_border_router

#3086 silabs-multiprotocol: enhance REST API to allow dataset reset
  silabs-multiprotocol/0012-rest-initialize-dataset.patch
  silabs-multiprotocol/0013-rest-support-deleting-the-dataset.patch
  silabs-multiprotocol/CHANGELOG.md
  silabs-multiprotocol/Dockerfile
  silabs-multiprotocol/config.yaml
Labels: cla-signed, add-on: silabs-multiprotocol

#3094 Bump zwave-js to 10.23.2
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#3093 silabs-multiprotocol: Update to Gecko SDK v4.3.0
  silabs-multiprotocol/0001-dataset-add-otDatasetUpdateTlvs-API-8871.patch
  silabs-multiprotocol/0001-web-rest-listen-on-IPv6-addresses-as-well-1659.patch
  silabs-multiprotocol/0002-rest-add-active-dataset-API-1658.patch
  silabs-multiprotocol/0003-rest-use-map-for-HTTP-headers-1665.patch
  silabs-multiprotocol/0005-web-bump-to-latest-Simple-Web-Server-version-1667.patch
  silabs-multiprotocol/0006-rest-allow-to-specify-REST-listen-address-1670.patch
  silabs-multiprotocol/0007-rest-remove-superfluous-space-in-HTTP-status-line-17.patch
  silabs-multiprotocol/0008-rest-explicitly-set-Connection-header-to-close-1774.patch
  silabs-multiprotocol/0009-rest-add-Operational-Dataset-API-1682.patch
  silabs-multiprotocol/0010-rest-allow-to-specify-REST-listen-port-1862.patch
  silabs-multiprotocol/CHANGELOG.md
  silabs-multiprotocol/Dockerfile
  silabs-multiprotocol/build.yaml
  silabs-multiprotocol/config.yaml
  silabs-multiprotocol/gecko-sdk-patches/0001-Use-TCP-socket-instead-of-serial-port-SDK.patch
  silabs-multiprotocol/otbr-patches/0001-Avoid-writing-to-system-console.patch
  silabs-multiprotocol/otbr-patches/0001-rest-support-Thread-state-change-1866.patch
  silabs-multiprotocol/otbr-patches/0002-rest-initialize-dataset.patch
  silabs-multiprotocol/otbr-patches/0003-rest-support-deleting-the-dataset.patch
  silabs-multiprotocol/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
  silabs-multiprotocol/rootfs/root/NabuCasa_SkyConnect_RCP_v4.2.3_rcp-uart-hw-802154_460800.gbl
  silabs-multiprotocol/rootfs/root/NabuCasa_SkyConnect_RCP_v4.3.0_rcp-uart-hw-802154_460800.gbl
  silabs-multiprotocol/rootfs/root/NabuCasa_Yellow_RCP_v4.2.3_rcp-uart-hw-802154_460800.gbl
  silabs-multiprotocol/rootfs/root/NabuCasa_Yellow_RCP_v4.3.0_rcp-uart-hw-802154_460800.gbl
  silabs-multiprotocol/rootfs/usr/local/share/cpcd.conf
  silabs-multiprotocol/zigbeed-app-patches/0001-Use-TCP-socket-instead-of-serial-port-main-app.patch
Labels: cla-signed, add-on: silabs-multiprotocol

#3091 openthread_border_router: Update to OpenThread RCP firmwares
  openthread_border_router/CHANGELOG.md
  openthread_border_router/config.yaml
  openthread_border_router/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
  openthread_border_router/rootfs/root/NabuCasa_SkyConnect_OpenThread_RCP_v2.2.2.0_ot-rcp_hw_460800.gbl
  openthread_border_router/rootfs/root/NabuCasa_SkyConnect_OpenThread_RCP_v2.3.0.0_ot-rcp_hw_460800.gbl
  openthread_border_router/rootfs/root/NabuCasa_Yellow_OpenThread_RCP_v2.2.2.0_PA32_ot-rcp_hw_460800.gbl
  openthread_border_router/rootfs/root/NabuCasa_Yellow_OpenThread_RCP_v2.3.0.0_PA32_ot-rcp_hw_460800.gbl
Labels: cla-signed, add-on: openthread_border_router

#3106 Bump Matter Server to 3.5.1
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed

#3115 Bump deCONZ to v2.22.2
  deconz/CHANGELOG.md
  deconz/build.yaml
  deconz/config.yaml
Labels: cla-signed, add-on: deconz

#3116 Exclude Whisper model files from backups
  whisper/CHANGELOG.md
  whisper/DOCS.md
  whisper/config.yaml
Labels: cla-signed, add-on: whisper

#3112 matter_server: Bump Python Matter server to 3.5.2
  matter_server/CHANGELOG.md
  matter_server/Dockerfile
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed, add-on: matter_server

#3118 Workaround for missing log level in matter add-on
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/run
Labels: cla-signed

#3119 Bump python-matter-server to 3.6.1
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed

#3122 Bump Matter Server to 3.6.3
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed
