Repository home-assistant/addons, pull requests merged in 2023-08, with the labels that each got.

#3151 Upgrade to wyoming-whisper 1.0.1
  whisper/CHANGELOG.md
  whisper/DOCS.md
  whisper/build.yaml
  whisper/config.yaml
Labels: cla-signed

#3150 Upgrade piper to v1.1
  piper/CHANGELOG.md
  piper/DOCS.md
  piper/build.yaml
  piper/config.yaml
  piper/rootfs/etc/s6-overlay/s6-rc.d/piper/run
Labels: cla-signed, add-on: piper

#3154 silabs-multiprotocol: Update to Gecko SDK v4.3.1
  silabs-multiprotocol/CHANGELOG.md
  silabs-multiprotocol/Dockerfile
  silabs-multiprotocol/build.yaml
  silabs-multiprotocol/config.yaml
  silabs-multiprotocol/otbr-patches/0001-rest-support-Thread-state-change-1866.patch
  silabs-multiprotocol/otbr-patches/0002-rest-initialize-dataset.patch
  silabs-multiprotocol/otbr-patches/0003-rest-deactive-IPv6-interface-when-disabling-the-OTBR.patch
  silabs-multiprotocol/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/run
  silabs-multiprotocol/rootfs/etc/s6-overlay/s6-rc.d/zigbeed/run
  silabs-multiprotocol/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
  silabs-multiprotocol/rootfs/root/NabuCasa_SkyConnect_RCP_v4.3.0_rcp-uart-hw-802154_460800.gbl
  silabs-multiprotocol/rootfs/root/NabuCasa_SkyConnect_RCP_v4.3.1_rcp-uart-hw-802154_460800.gbl
  silabs-multiprotocol/rootfs/root/NabuCasa_Yellow_RCP_v4.3.0_rcp-uart-hw-802154_460800.gbl
  silabs-multiprotocol/rootfs/root/NabuCasa_Yellow_RCP_v4.3.1_rcp-uart-hw-802154_460800.gbl
Labels: cla-signed, add-on: silabs-multiprotocol

#3156 silabs_flasher: Update universal-silabs-flasher and firmwares
  silabs_flasher/CHANGELOG.md
  silabs_flasher/build.yaml
  silabs_flasher/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
  silabs_flasher/rootfs/root/NabuCasa_SkyConnect_EZSP_v7.2.2.0_ncp-uart-hw_115200.gbl
  silabs_flasher/rootfs/root/NabuCasa_SkyConnect_EZSP_v7.3.1.0_ncp-uart-hw_115200.gbl
  silabs_flasher/rootfs/root/NabuCasa_Yellow_EZSP_v7.2.2.0_PA32_ncp-uart-hw_115200.gbl
  silabs_flasher/rootfs/root/NabuCasa_Yellow_EZSP_v7.3.1.0_PA32_ncp-uart-hw_115200.gbl
Labels: cla-signed, add-on: silabs-flasher

#3155 openthread_border_router: Update to OpenThread RCP v4.3.1.0
  openthread_border_router/CHANGELOG.md
  openthread_border_router/config.yaml
  openthread_border_router/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
  openthread_border_router/rootfs/root/NabuCasa_SkyConnect_OpenThread_RCP_v2.3.0.0_ot-rcp_hw_460800.gbl
  openthread_border_router/rootfs/root/NabuCasa_SkyConnect_OpenThread_RCP_v2.3.1.0_ot-rcp_hw_460800.gbl
  openthread_border_router/rootfs/root/NabuCasa_Yellow_OpenThread_RCP_v2.3.0.0_PA32_ot-rcp_hw_460800.gbl
  openthread_border_router/rootfs/root/NabuCasa_Yellow_OpenThread_RCP_v2.3.1.0_PA32_ot-rcp_hw_460800.gbl
Labels: cla-signed, add-on: openthread_border_router

#3167 silabs_flasher: Bump version to 0.2.0
  silabs_flasher/config.yaml
Labels: cla-signed, add-on: silabs-flasher

#3168 Bump zwave-js to 11.9.2
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#3177 Bump zwave-js to 11.10.1
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#2830 Clarify explanation for require_certificate option
  mosquitto/DOCS.md
  mosquitto/translations/en.yaml
Labels: cla-signed, add-on: mosquitto

#3181 Update Piper add-on to 1.3.2
  piper/CHANGELOG.md
  piper/DOCS.md
  piper/Dockerfile
  piper/build.yaml
  piper/config.yaml
  piper/rootfs/etc/s6-overlay/s6-rc.d/piper/run
  piper/translations/en.yaml
Labels: cla-signed

#3169 silabs-multiprotocol: update mDNSResponder to 1790.80.10
  silabs-multiprotocol/CHANGELOG.md
  silabs-multiprotocol/Dockerfile
  silabs-multiprotocol/config.yaml
  silabs-multiprotocol/otbr-patches/0001-rest-support-erasing-all-persistent-info-1908.patch
  silabs-multiprotocol/otbr-patches/0002-rest-support-deleting-the-dataset.patch
  silabs-multiprotocol/otbr-patches/0003-mdns-update-mDNSResponder-to-1790.80.10.patch
  silabs-multiprotocol/otbr-patches/0004-mdns-add-Linux-specific-patches.patch
Labels: cla-signed, add-on: silabs-multiprotocol

#3190 openthread_border_router: Bump to latest OTBR POSIX version
  openthread_border_router/0001-Avoid-writing-to-system-console.patch
  openthread_border_router/0002-rest-support-deleting-the-dataset.patch
  openthread_border_router/CHANGELOG.md
  openthread_border_router/Dockerfile
  openthread_border_router/build.yaml
  openthread_border_router/config.yaml
Labels: cla-signed

#3196 Bump zwave-js to 11.13.1 and zwave-js-server to 1.31.0
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed
