Repository home-assistant/addons, pull requests merged in 2023-12, with the labels that each got.

#3162 letsencrypt: Add Namecheap DNS challenge support
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3340 Fix DirectAdmin DNS challenge support by using dns prefix
  letsencrypt/CHANGELOG.md
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3342 Fix deprecation warning in GitHub Action
  .github/workflows/builder.yml
Labels: cla-signed

#3345 Matter add-on 5.0.0: Bump Python Matter Server to 5.0.1
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed

#3320 letsencrypt: Add Infomaniak DNS provider
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3353 Letsencrypt: Add support for Porkbun DNS challenge
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed

#3349 Control Assist with local USB microphone
  assist_microphone/CHANGELOG.md
  assist_microphone/DOCS.md
  assist_microphone/Dockerfile
  assist_microphone/README.md
  assist_microphone/build.yaml
  assist_microphone/config.yaml
  assist_microphone/rootfs/etc/s6-overlay/s6-rc.d/assist_microphone/dependencies.d/base
  assist_microphone/rootfs/etc/s6-overlay/s6-rc.d/assist_microphone/finish
  assist_microphone/rootfs/etc/s6-overlay/s6-rc.d/assist_microphone/run
  assist_microphone/rootfs/etc/s6-overlay/s6-rc.d/assist_microphone/type
  assist_microphone/rootfs/etc/s6-overlay/s6-rc.d/discovery/dependencies.d/assist_microphone
  assist_microphone/rootfs/etc/s6-overlay/s6-rc.d/discovery/run
  assist_microphone/rootfs/etc/s6-overlay/s6-rc.d/discovery/type
  assist_microphone/rootfs/etc/s6-overlay/s6-rc.d/discovery/up
  assist_microphone/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/assist_microphone
  assist_microphone/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/discovery
  assist_microphone/sounds/awake.wav
  assist_microphone/sounds/done.wav
  assist_microphone/translations/en.yaml
Labels: cla-signed

#3351 Bump zwave-js to 12.4.1 and zwave-js-server to 1.34.0
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#3358 openthread_border_router: Fix NAT64 configuration at startup
  openthread_border_router/CHANGELOG.md
  openthread_border_router/config.yaml
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/otbr-agent-configure
Labels: cla-signed, add-on: openthread_border_router

#3356 nginx_proxy: Fix issue #3132
  nginx_proxy/CHANGELOG.md
  nginx_proxy/config.yaml
  nginx_proxy/rootfs/etc/nginx.conf
Labels: cla-signed

#3363 letsencrypt: bump version to 5.0.7
  letsencrypt/config.yaml
Labels: cla-signed, add-on: letsencrypt

#3269 letsencrypt: Add support for dreamhost
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, Hacktoberfest, add-on: letsencrypt

#3372 vlc: Fix race condition at startup
  vlc/CHANGELOG.md
  vlc/build.yaml
  vlc/config.yaml
  vlc/rootfs/etc/s6-overlay/s6-rc.d/vlc/dependencies.d/base
Labels: cla-signed, add-on: vlc

#3374 dhcp_server: Don't fail if no DNS is provided
  dhcp_server/CHANGELOG.md
  dhcp_server/config.yaml
  dhcp_server/data/run.sh
Labels: cla-signed, add-on: dhcp_server

#3373 nginx_proxy: Update documentation
  nginx_proxy/DOCS.md
Labels: cla-signed, add-on: nginx_proxy

#3376 letsencrypt: Add option to change key type
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
  letsencrypt/translations/en.yaml
Labels: cla-signed
