Repository home-assistant/addons, pull requests merged in 2023-11, with the labels that each got.

#3290 Matter add-on 4.10.1: Bump Matter server to 4.0.1
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed

#3294 Matter add-on 4.10.2: Bump Python Matter Server to 4.0.2
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed

#3295 Bump zwave-js to 12.3.0 and add configuration option
  zwave_js/CHANGELOG.md
  zwave_js/DOCS.md
  zwave_js/build.yaml
  zwave_js/config.yaml
  zwave_js/rootfs/etc/cont-init.d/config.sh
  zwave_js/translations/en.yaml
Labels: cla-signed

#3293 whisper: Remove model `medium` from docs
  whisper/DOCS.md
Labels: cla-signed, add-on: whisper

#3297 samba: Add-on configs, healtcheck, Alpine 3.18
  samba/CHANGELOG.md
  samba/Dockerfile
  samba/build.yaml
  samba/config.yaml
  samba/rootfs/usr/share/tempio/smb.gtpl
Labels: cla-signed, add-on: samba

#3298 ssh: Add-on configs, Alpine 3.18
  ssh/CHANGELOG.md
  ssh/build.yaml
  ssh/config.yaml
  ssh/rootfs/etc/cont-init.d/profile.sh
Labels: cla-signed, add-on: ssh

#3305 ada: Remove deprecated add-on
  README.md
  ada/CHANGELOG.md
  ada/DOCS.md
  ada/Dockerfile
  ada/README.md
  ada/build.yaml
  ada/config.yaml
  ada/icon.png
  ada/logo.png
  ada/rootfs/etc/services.d/ada/finish
  ada/rootfs/etc/services.d/ada/run
  ada/translations/en.yaml
Labels: cla-signed, add-on: ada

#3001 samba: Migrate add-on layout to S6 Overlay
  samba/CHANGELOG.md
  samba/rootfs/etc/s6-overlay/s6-rc.d/init-smbd/dependencies.d/base
  samba/rootfs/etc/s6-overlay/s6-rc.d/init-smbd/run
  samba/rootfs/etc/s6-overlay/s6-rc.d/init-smbd/type
  samba/rootfs/etc/s6-overlay/s6-rc.d/init-smbd/up
  samba/rootfs/etc/s6-overlay/s6-rc.d/nmbd/dependencies.d/smbd
  samba/rootfs/etc/s6-overlay/s6-rc.d/nmbd/finish
  samba/rootfs/etc/s6-overlay/s6-rc.d/nmbd/run
  samba/rootfs/etc/s6-overlay/s6-rc.d/nmbd/type
  samba/rootfs/etc/s6-overlay/s6-rc.d/smbd/dependencies.d/init-smbd
  samba/rootfs/etc/s6-overlay/s6-rc.d/smbd/finish
  samba/rootfs/etc/s6-overlay/s6-rc.d/smbd/run
  samba/rootfs/etc/s6-overlay/s6-rc.d/smbd/type
  samba/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/init-smbd
  samba/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/nmbd
  samba/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/smbd
  samba/rootfs/etc/services.d/nmbd/finish
  samba/rootfs/etc/services.d/smbd/finish
Labels: cla-signed, add-on: samba

#3311 samba: Adjust to latest Supervisor changes
  samba/CHANGELOG.md
  samba/config.yaml
  samba/rootfs/usr/share/tempio/smb.gtpl
Labels: cla-signed, add-on: samba

#3300 configurator: Alpine 3.18, upgrade mapping, tweaks
  .hadolint.yaml
  configurator/CHANGELOG.md
  configurator/DOCS.md
  configurator/Dockerfile
  configurator/build.yaml
  configurator/config.yaml
  configurator/rootfs/etc/configurator.conf
  configurator/rootfs/etc/s6-overlay/s6-rc.d/configurator/finish
Labels: cla-signed, add-on: configurator

#3312 samba: Add support for accessing add-on configs
  samba/CHANGELOG.md
  samba/config.yaml
  samba/rootfs/usr/share/tempio/smb.gtpl
Labels: cla-signed, add-on: samba

#3321 MOSQUITTO_VERSION update to v2.0.18
  mosquitto/CHANGELOG.md
  mosquitto/build.yaml
  mosquitto/config.yaml
Labels: cla-signed

#3322 samba: Add documentation for addon_configs
  samba/DOCS.md
Labels: cla-signed, add-on: samba

#3316 Add support for addon_configs to zwave_js
  zwave_js/CHANGELOG.md
  zwave_js/DOCS.md
  zwave_js/config.yaml
  zwave_js/rootfs/etc/cont-init.d/config.sh
  zwave_js/rootfs/etc/cont-init.d/structure.sh
  zwave_js/rootfs/usr/share/tempio/zwave_config.conf
  zwave_js/translations/en.yaml
Labels: cla-signed, add-on: zwave_js

#3327 Bump zwave-js to 12.3.1
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#3221 Update DOCS.md
  ssh/DOCS.md
Labels: cla-signed, add-on: ssh

#3325 letsencrypt: Update Alpine, Python and Certbot
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3273 Update Terminal & SSH Documentation to use ECDSA Key as RSA is no longer supported
  ssh/DOCS.md
Labels: cla-signed, Hacktoberfest, add-on: ssh

#3152 letsencrypt: support DuckDNS DNS challenge
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt
