Repository home-assistant/addons, pull requests merged in 2024-04, with the labels that each got.

#3533 matter_server: Add Ingress, custom PAA certificate dir and bump to 5.9.0
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/run
Labels: cla-signed

#3539 matter_server: Fix bashio::log.warn
  matter_server/CHANGELOG.md
  matter_server/config.yaml
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/run
Labels: cla-signed

#3526 openthread-border-router: Support Home Assistant Connect ZBT-1
  openthread_border_router/CHANGELOG.md
  openthread_border_router/DOCS.md
  openthread_border_router/config.yaml
  openthread_border_router/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
  openthread_border_router/translations/en.yaml
Labels: cla-signed

#3527 silabs-flasher: Support flashing the Connect ZBT-1
  silabs_flasher/CHANGELOG.md
  silabs_flasher/DOCS.md
  silabs_flasher/README.md
  silabs_flasher/config.yaml
  silabs_flasher/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
Labels: cla-signed

#3528 silabs-multiprotocol: Support the Home Assistant Connect ZBT-1
  silabs-multiprotocol/CHANGELOG.md
  silabs-multiprotocol/DOCS.md
  silabs-multiprotocol/README.md
  silabs-multiprotocol/config.yaml
  silabs-multiprotocol/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
Labels: cla-signed

#3544 silabs-flasher: Bump universal-silabs-flasher to 0.0.19
  silabs_flasher/CHANGELOG.md
  silabs_flasher/build.yaml
  silabs_flasher/config.yaml
  silabs_flasher/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
Labels: cla-signed, add-on: silabs-flasher

#3550 Fix undefined HOME variable, resolves 3525
  git_pull/CHANGELOG.md
  git_pull/config.yaml
  git_pull/data/run.sh
Labels: cla-signed

#3552 ssh: Bump CLI to 4.32.0
  ssh/CHANGELOG.md
  ssh/build.yaml
  ssh/config.yaml
Labels: cla-signed, add-on: ssh

#3557 SSH: Install completions for ha commands in bashrc
  ssh/CHANGELOG.md
  ssh/config.yaml
  ssh/rootfs/etc/cont-init.d/profile.sh
  ssh/rootfs/root/.bashrc
Labels: cla-signed, add-on: ssh

#3560 SILabs Flasher: Upgrade to Alpine 3.19
  silabs_flasher/CHANGELOG.md
  silabs_flasher/build.yaml
  silabs_flasher/config.yaml
Labels: cla-signed, add-on: silabs-flasher

#3562 MariaDB: Upgrade to Alpine 3.19
  mariadb/CHANGELOG.md
  mariadb/build.yaml
  mariadb/config.yaml
Labels: cla-signed, add-on: mariadb

#3563 DNSMasq: Upgrade to Alpine 3.19
  dnsmasq/CHANGELOG.md
  dnsmasq/build.yaml
  dnsmasq/config.yaml
Labels: cla-signed, add-on: dnsmasq

#3561 RPC Shutdown: Upgrade to Alpine 3.19
  rpc_shutdown/CHANGELOG.md
  rpc_shutdown/build.yaml
  rpc_shutdown/config.yaml
Labels: cla-signed, add-on: rpc_shutdown

#3568 Remove unused vars
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-core/finish
  nginx_proxy/rootfs/etc/s6-overlay/s6-rc.d/crond/finish
  nginx_proxy/rootfs/etc/s6-overlay/s6-rc.d/nginx/finish
  openwakeword/rootfs/etc/s6-overlay/s6-rc.d/openwakeword/finish
  piper/rootfs/etc/s6-overlay/s6-rc.d/piper/finish
  whisper/rootfs/etc/s6-overlay/s6-rc.d/whisper/finish
Labels: cla-signed

#3570 mariadb: Increase timeout for MariaDB shutdown
  mariadb/CHANGELOG.md
  mariadb/Dockerfile
  mariadb/config.yaml
  mariadb/rootfs/etc/s6-overlay/s6-rc.d/mariadb-core/timeout-kill
Labels: cla-signed, add-on: mariadb

#3569 Bump Z-Wave JS to 12.5.5 and Z-Wave JS Server to 1.35.0
  zwave_js/CHANGELOG.md
  zwave_js/DOCS.md
  zwave_js/build.yaml
  zwave_js/config.yaml
  zwave_js/rootfs/etc/cont-init.d/config.sh
  zwave_js/rootfs/usr/share/tempio/zwave_config.conf
  zwave_js/translations/en.yaml
Labels: cla-signed

#3556 letsencrypt: add Dynu DNS provider
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed

#3579 Add WebSupport provider for letsencrypt addon.
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3581 letsencrypt: Fix and extend Gandi DNS challenge
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3580 duckdns: Reduce log spam when updating IP address
  duckdns/CHANGELOG.md
  duckdns/config.yaml
  duckdns/data/run.sh
Labels: cla-signed, add-on: duckdns

#3532 openthread_border_router: Add support for network RCP radio
  openthread_border_router/CHANGELOG.md
  openthread_border_router/Dockerfile
  openthread_border_router/config.yaml
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/run
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/socat-otbr-tcp/data/check
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/socat-otbr-tcp/notification-fd
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/socat-otbr-tcp/run
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/socat-otbr-tcp/type
  openthread_border_router/rootfs/etc/s6-overlay/scripts/enable-check.sh
  openthread_border_router/translations/en.yaml
Labels: cla-signed, add-on: openthread_border_router
