Repository home-assistant/addons, pull requests merged in 2024-09, with the labels that each got.

#3744 matter_server: Add optional settings for development and testing
  matter_server/CHANGELOG.md
  matter_server/config.yaml
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/run
  matter_server/translations/en.yaml
Labels: cla-signed, add-on: matter_server

#3750 letsencrypt: Drop Google Domains support
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3756 matter_server: Bump Python Matter server to 6.5.0
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed, add-on: matter_server

#3759 matter_server: Bump Python Matter server to 6.5.1
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed, add-on: matter_server

#3760 Fix zwave_js soft reset option
  zwave_js/CHANGELOG.md
  zwave_js/config.yaml
  zwave_js/rootfs/usr/share/tempio/zwave_config.conf
Labels: cla-signed

#3764 Bump Z-Wave JS to 13.3.1
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#3771 ssh: Bump CLI to v4.36.0
  ssh/CHANGELOG.md
  ssh/build.yaml
  ssh/config.yaml
Labels: cla-signed, add-on: ssh

#3751 letsencrypt: Update to Certbot 2.11.0/Alpine 3.20/Python 3.12
  letsencrypt/CHANGELOG.md
  letsencrypt/build.yaml
  letsencrypt/config.yaml
Labels: cla-signed, add-on: letsencrypt

#3776 letsencrypt: Avoid deprecation warnings
  letsencrypt/CHANGELOG.md
  letsencrypt/build.yaml
  letsencrypt/config.yaml
Labels: cla-signed, add-on: letsencrypt

#3772 openthread_border_router: bump to latest and smaller improvements
  openthread_border_router/0001-support-deleting-the-dataset.patch
  openthread_border_router/0002-set-netif-route-metric-lower.patch
  openthread_border_router/0003-logging-support-disable-syslog-for-otbr-web-as-well.patch
  openthread_border_router/CHANGELOG.md
  openthread_border_router/Dockerfile
  openthread_border_router/build.yaml
  openthread_border_router/config.yaml
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/run
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/otbr-web/run
Labels: cla-signed, add-on: openthread_border_router

#3780 Add OHF logo to README
  README.md
Labels: cla-signed
