Repository home-assistant/addons, pull requests merged in 2024-05, with the labels that each got.

#3586 matter_server: Bump Python Matter server to 5.10.0
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed, add-on: matter_server

#3592 ssh: Upgrade CLI to 4.34.0
  ssh/CHANGELOG.md
  ssh/build.yaml
  ssh/config.yaml
Labels: cla-signed, add-on: ssh

#3599 matter_server: Bump Python Matter server to 6.0.0
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
  matter_server/translations/en.yaml
Labels: cla-signed

#3601 Add abilty to config cache size for dnsmasq addon
  dnsmasq/CHANGELOG.md
  dnsmasq/DOCS.md
  dnsmasq/config.yaml
  dnsmasq/rootfs/usr/share/tempio/dnsmasq.config
Labels: cla-signed, add-on: dnsmasq

#3605 Add distil-large-v3 model to whisper addon
  whisper/CHANGELOG.md
  whisper/DOCS.md
  whisper/config.yaml
Labels: cla-signed, add-on: whisper

#3610 Fix dnsmasq config
  dnsmasq/CHANGELOG.md
  dnsmasq/config.yaml
  dnsmasq/rootfs/usr/share/tempio/dnsmasq.config
Labels: cla-signed, add-on: dnsmasq

#3615 Increase mqtt max_queued_messages to 8192
  mosquitto/CHANGELOG.md
  mosquitto/config.yaml
  mosquitto/rootfs/usr/share/tempio/mosquitto.gtpl
Labels: cla-signed
