Repository home-assistant/addons, pull requests merged in 2024-07, with the labels that each got.

#3677 openthread_border_router: Deassert DTR/RTS lines for USB devices using these for BSL
  openthread_border_router/0004-Deassert-DTR-and-RTS-if-flow-control-is-disabled.patch
  openthread_border_router/CHANGELOG.md
  openthread_border_router/Dockerfile
  openthread_border_router/config.yaml
Labels: cla-signed, add-on: openthread_border_router

#3658 whisper: Exclude Whisper model files from backups
  whisper/CHANGELOG.md
  whisper/config.yaml
Labels: cla-signed, add-on: whisper

#3680 whisper: Actually exclude Whisper model files from backups
  whisper/CHANGELOG.md
  whisper/config.yaml
Labels: cla-signed

#3681 matter_server: Bump Python Matter server to 6.2.1
  matter_server/CHANGELOG.md
  matter_server/DOCS.md
  matter_server/build.yaml
  matter_server/config.yaml
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/run
  matter_server/translations/en.yaml
Labels: cla-signed, add-on: matter_server

#3686 Add ZBT-1 to README.md
  openthread_border_router/README.md
Labels: cla-signed

#3690 matter_server: Bump Python Matter server to 6.3.0
  matter_server/CHANGELOG.md
  matter_server/DOCS.md
  matter_server/build.yaml
  matter_server/config.yaml
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/run
  matter_server/translations/en.yaml
Labels: cla-signed, add-on: matter_server

#3691 Fix Matter SDK logging level when beta flag is set
  matter_server/CHANGELOG.md
  matter_server/config.yaml
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/run
Labels: cla-signed, add-on: matter_server

#3660 letsencrypt: Add digitalocean
  letsencrypt/CHANGELOG.md
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed

#3688 piper: Add en_GB-cori-high and en_GB-cori-medium to the voice list
  piper/CHANGELOG.md
  piper/config.yaml
Labels: cla-signed

#3704 Samba: correct benign idmap errors
  samba/CHANGELOG.md
  samba/config.yaml
  samba/rootfs/usr/share/tempio/smb.gtpl
Labels: cla-signed, add-on: samba

#3697 Letsencrypt: Add support for noris network DNS provider
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed
