Repository home-assistant/addons, pull requests merged in 2024-08, with the labels that each got.

#3706 matter_server: Bump Python Matter server to 6.4.0
  matter_server/CHANGELOG.md
  matter_server/config.yaml
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/run
Labels: cla-signed, add-on: matter_server

#3710 piper: update voices
  piper/CHANGELOG.md
  piper/config.yaml
Labels: cla-signed, add-on: piper

#3718 matter_server: Bump Python Matter server to 6.4.0 correctly
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed, add-on: matter_server

#3719 OTBR: Abort firmware flasher if network device is selected.
  openthread_border_router/CHANGELOG.md
  openthread_border_router/config.yaml
  openthread_border_router/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
Labels: cla-signed, add-on: openthread_border_router

#3720 openthread_border_router: Update DOCS.md because nordic-nrf52840-dongle-install page has moved
  openthread_border_router/DOCS.md
Labels: cla-signed

#3694 Letsencrypt: Added support for plesk dns provider
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed

#3716 Letsencrypt: Add External Account Binding Support
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3274 nginx_proxy: Adding support for TCP Proxy Protocol
  nginx_proxy/CHANGELOG.md
  nginx_proxy/DOCS.md
  nginx_proxy/config.yaml
  nginx_proxy/rootfs/etc/nginx/nginx.conf.gtpl
  nginx_proxy/rootfs/etc/s6-overlay/s6-rc.d/nginx/run
  nginx_proxy/translations/en.yaml
Labels: cla-signed, Hacktoberfest, add-on: nginx_proxy

#3725 nginx_proxy: Define default for real_ip_from to make it optional
  nginx_proxy/CHANGELOG.md
  nginx_proxy/DOCS.md
  nginx_proxy/config.yaml
Labels: cla-signed, add-on: nginx_proxy

#3717 letsencrypt: Added support for Simply.com DNS challenge.
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed

#3731 Correct CHANGELOG.md
  letsencrypt/CHANGELOG.md
Labels: cla-signed, add-on: letsencrypt

#3730 silabs-flasher: Bump firmwares to Gecko SDK 4.4.3
  silabs_flasher/CHANGELOG.md
  silabs_flasher/build.yaml
  silabs_flasher/config.yaml
  silabs_flasher/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
  silabs_flasher/rootfs/root/NabuCasa_SkyConnect_EZSP_v7.3.1.0_ncp-uart-hw_115200.gbl
  silabs_flasher/rootfs/root/NabuCasa_Yellow_EZSP_v7.3.1.0_PA32_ncp-uart-hw_115200.gbl
  silabs_flasher/rootfs/root/skyconnect_ncp-uart-hw_7.4.3.0.gbl
  silabs_flasher/rootfs/root/yellow_ncp-uart-hw_7.4.3.0.gbl
Labels: cla-signed

#3733 letsencrypt: Fixes subdomain DNS challange for Simply.com
  letsencrypt/CHANGELOG.md
  letsencrypt/build.yaml
  letsencrypt/config.yaml
Labels: cla-signed, add-on: letsencrypt

#3732 openthread_border_router: bump to latest and smaller improvements
  openthread_border_router/0001-support-deleting-the-dataset.patch
  openthread_border_router/0002-posix-fix-build-with-custom-netif-prefix-route-set.patch
  openthread_border_router/0002-set-netif-route-metric-lower.patch
  openthread_border_router/0003-logging-support-disable-syslog-for-otbr-web-as-well.patch
  openthread_border_router/0004-Deassert-DTR-and-RTS-if-flow-control-is-disabled.patch
  openthread_border_router/CHANGELOG.md
  openthread_border_router/Dockerfile
  openthread_border_router/build.yaml
  openthread_border_router/config.yaml
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/otbr-web/run
  openthread_border_router/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
  openthread_border_router/rootfs/root/NabuCasa_SkyConnect_OpenThread_RCP_v2.4.0.0_ot-rcp_hw_460800.gbl
  openthread_border_router/rootfs/root/NabuCasa_Yellow_OpenThread_RCP_v2.4.0.0_PA32_ot-rcp_hw_460800.gbl
  openthread_border_router/rootfs/root/skyconnect_ot-rcp_2.4.0.0_GitHub-7074a43e4_gsdk_4.4.3.gbl
  openthread_border_router/rootfs/root/yellow_ot-rcp_2.4.0.0_GitHub-7074a43e4_gsdk_4.4.3.gbl
Labels: cla-signed, add-on: openthread_border_router

#3736 letsencrypt: Added support for GoDaddy DNS challenge
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed

#3708 Upgrade deConz to v2.28.1
  deconz/CHANGELOG.md
  deconz/Dockerfile
  deconz/build.yaml
  deconz/config.yaml
  deconz/rootfs/etc/services.d/otau-deconz/run
Labels: cla-signed
