Repository home-assistant/addons, pull requests merged in 2024-03, with the labels that each got.

#3498 matter_server: Bump Python Matter server to 5.8.0
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed

#3502 Matter Server add-on 5.4.1: Bump Python Matter Server to 5.8.1
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed

#3501 Bump zwave-js to 12.4.4
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#3468 matter-server: Allow specifying a custom primary network interface
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/run
Labels: cla-signed

#3508 samba: Handle passwords with backslash correctly
  samba/CHANGELOG.md
  samba/config.yaml
  samba/rootfs/etc/s6-overlay/s6-rc.d/init-smbd/run
Labels: cla-signed, add-on: samba

#3509 ssh: Bump CLI to 4.31.0
  ssh/CHANGELOG.md
  ssh/build.yaml
  ssh/config.yaml
Labels: cla-signed, add-on: ssh

#3521 Git pull update alpine to 3.19 and cli to 4.31.0
  git_pull/CHANGELOG.md
  git_pull/build.yaml
  git_pull/config.yaml
Labels: cla-signed, add-on: git_pull

#3517 nginx_proxy: Add map_hash_bucket_size
  nginx_proxy/CHANGELOG.md
  nginx_proxy/config.yaml
  nginx_proxy/rootfs/etc/nginx.conf
Labels: cla-signed

#3520 Bump tellstick addon to alpine 3.15 and deprecate it
  tellstick/CHANGELOG.md
  tellstick/build.yaml
  tellstick/config.yaml
Labels: cla-signed, add-on: tellstick

#3523 DHCP Server bump base to alpine 3.19
  dhcp_server/CHANGELOG.md
  dhcp_server/build.yaml
  dhcp_server/config.yaml
Labels: cla-signed, add-on: dhcp_server
