Repository home-assistant/addons, pull requests merged in 2024-06, with the labels that each got.

#3635 matter_server: Bump Python Matter server to 6.1.2
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed, add-on: matter_server

#3638 dhcp_server: Remove eth from DOCS.md
  dhcp_server/DOCS.md
Labels: cla-signed, add-on: dhcp_server

#3645 Bump zwave-js to 12.11.0
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#3549 letsencrypt: add Domainoffensive
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3651 letsencrypt: Add hint about YAML vs UI configuration
  letsencrypt/DOCS.md
Labels: cla-signed, add-on: letsencrypt

#3652 letsencrypt: Fix file-structure shell script
  letsencrypt/CHANGELOG.md
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
Labels: cla-signed, add-on: letsencrypt

#3648 Bump zwave-js to 12.11.1
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed, add-on: zwave_js

#3644 ssh: Add port to "TCP port forwarding"
  ssh/DOCS.md
Labels: cla-signed, add-on: ssh

#3628 openthread_border_router: Firmware updates for third party Silabs dongles
  openthread_border_router/CHANGELOG.md
  openthread_border_router/build.yaml
  openthread_border_router/config.yaml
  openthread_border_router/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
  openthread_border_router/rootfs/root/ot-rcp-v2.4.2.0-slzb-07-460800.gbl
  openthread_border_router/rootfs/root/ot-rcp-v2.4.2.0-zbdonglee-460800.gbl
Labels: cla-signed, add-on: openthread_border_router

#3654 letsencrypt: Fix config.yaml
  letsencrypt/CHANGELOG.md
  letsencrypt/config.yaml
Labels: cla-signed, add-on: letsencrypt

#3656 Bump zwave-js to 12.11.2
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#3636 openthread_border_router: Update DOCS.md
  openthread_border_router/DOCS.md
Labels: cla-signed, add-on: openthread_border_router

#3642 letsencrypt: update addon to add joker.com support
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3662 openthread_border_router: Fix crash on malformed mDNS packages
  openthread_border_router/0001-Avoid-writing-to-system-console.patch
  openthread_border_router/0001-channel-monitor-disable-by-default.patch
  openthread_border_router/0002-posix-fix-build-with-custom-netif-prefix-route-set.patch
  openthread_border_router/CHANGELOG.md
  openthread_border_router/Dockerfile
  openthread_border_router/build.yaml
  openthread_border_router/config.yaml
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/run
Labels: cla-signed, add-on: openthread_border_router

#3659 letsencrypt: Fix joker.com domain configuration
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
Labels: cla-signed
