Repository home-assistant/addons, pull requests merged in 2024-12, with the labels that each got.

#3749 add support for mijn.host DNS challenge
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed

#3851 silabs-flasher: Support Yellow with CM5
  silabs_flasher/CHANGELOG.md
  silabs_flasher/config.yaml
  silabs_flasher/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
Labels: add-on: silabs-flasher

#3852 openthread_border_router: Support Yellow with CM5
  openthread_border_router/CHANGELOG.md
  openthread_border_router/config.yaml
  openthread_border_router/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
Labels: cla-signed, add-on: openthread_border_router

#3848 Update wyoming-whisper to 2.3.0
  whisper/CHANGELOG.md
  whisper/DOCS.md
  whisper/build.yaml
  whisper/config.yaml
Labels: cla-signed, add-on: whisper

#3835 letsencrypt: Add transip global_key parameter
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
Labels: cla-signed, add-on: letsencrypt

#3857 Move Turbo closer to Large to avoid confusing it with Tiny
  whisper/CHANGELOG.md
  whisper/DOCS.md
  whisper/config.yaml
Labels: cla-signed

#3859 Add auto to model/beam size to whisper
  whisper/CHANGELOG.md
  whisper/DOCS.md
  whisper/build.yaml
  whisper/config.yaml
Labels: cla-signed, add-on: whisper

#3855 Added transip_global_key to config.yaml
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/config.yaml
Labels: cla-signed, add-on: letsencrypt

#3863 ssh: Update ttyd to 1.7.7
  ssh/CHANGELOG.md
  ssh/build.yaml
  ssh/config.yaml
Labels: cla-signed, add-on: ssh

#3867 openthread_border_router: Update documentation
  openthread_border_router/DOCS.md
  openthread_border_router/translations/en.yaml
Labels: cla-signed, add-on: openthread_border_router

#3869 tellstick: Add deprecation notice to README.md
  tellstick/README.md
Labels: cla-signed, add-on: tellstick

#3870 google_assistant: Deprecate Google Assistant add-on
  google_assistant/README.md
  google_assistant/config.yaml
Labels: cla-signed, add-on: google_assistant

#3878 matter_server: Bump Python Matter server to 7.0.1
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed, add-on: matter_server
