Repository home-assistant/addons, pull requests merged in 2024-02, with the labels that each got.

#3444 Add easyDNS provider for letsencrypt addon.
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3450 matter_server: Bump Python Matter server to 5.5.1
  matter_server/CHANGELOG.md
  matter_server/DOCS.md
  matter_server/build.yaml
  matter_server/config.yaml
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/run
Labels: cla-signed, add-on: matter_server

#3432 Updates deconz to the latest stable version: 2.25.3
  deconz/CHANGELOG.md
  deconz/build.yaml
  deconz/config.yaml
Labels: cla-signed

#3458 Matter Server add-on 5.1.2: Bump Python Matter Server to 5.5.3
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed

#3457 nginx: Update to Alpine Linux 3.19
  nginx_proxy/CHANGELOG.md
  nginx_proxy/build.yaml
  nginx_proxy/config.yaml
Labels: cla-signed, add-on: nginx_proxy

#3456 samba: Update to Alpine Linux 3.19
  samba/CHANGELOG.md
  samba/build.yaml
  samba/config.yaml
Labels: cla-signed, add-on: samba

#3454 configurator: Update to Alpine 3.19
  configurator/CHANGELOG.md
  configurator/Dockerfile
  configurator/build.yaml
  configurator/config.yaml
Labels: cla-signed, add-on: configurator

#3455 ssh: Alpine 3.19, CLI 4.29, ttyd 1.7.4
  ssh/CHANGELOG.md
  ssh/build.yaml
  ssh/config.yaml
  ssh/rootfs/etc/services.d/ttyd/run
Labels: cla-signed, add-on: ssh

#3469 openthread_border_router: Service improvements and OTBR bump
  openthread_border_router/CHANGELOG.md
  openthread_border_router/build.yaml
  openthread_border_router/config.yaml
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/dependencies.d/base
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/dependencies.d/mdns
  openthread_border_router/rootfs/etc/s6-overlay/s6-rc.d/otbr-agent/finish
Labels: cla-signed, add-on: openthread_border_router

#3483 Matter Server add-on 5.2.0: Bump Python Matter Server to 5.6.0
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed

#3485 Update Assist Microphone to wyoming-satellite 1.2.0
  assist_microphone/CHANGELOG.md
  assist_microphone/Dockerfile
  assist_microphone/build.yaml
  assist_microphone/config.yaml
Labels: cla-signed

#3488 Update wyoming-openwakeword to 1.10.0
  openwakeword/CHANGELOG.md
  openwakeword/Dockerfile
  openwakeword/build.yaml
  openwakeword/config.yaml
Labels: cla-signed

#3487 Update wyoming-piper to 1.5.0
  piper/CHANGELOG.md
  piper/Dockerfile
  piper/build.yaml
  piper/config.yaml
Labels: cla-signed

#3493 matter_server: Bump Python Matter server to 5.7.0
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
  matter_server/rootfs/etc/s6-overlay/s6-rc.d/matter-server/run
Labels: cla-signed, add-on: matter_server

#3494 openthread_border_router: OTBR bump and Debian Bookworm update
  openthread_border_router/CHANGELOG.md
  openthread_border_router/Dockerfile
  openthread_border_router/build.yaml
Labels: cla-signed, add-on: openthread_border_router

#3495 openthread_border_router: Bump version to 2.5.0 in config
  openthread_border_router/config.yaml
Labels: cla-signed, add-on: openthread_border_router
