Repository home-assistant/addons, pull requests merged in 2025-01, with the labels that each got.

#3887 openthread_border_router: Recover from RCP communication issue
  openthread_border_router/0002-set-netif-route-metric-lower.patch
  openthread_border_router/CHANGELOG.md
  openthread_border_router/Dockerfile
  openthread_border_router/config.yaml
  openthread_border_router/openthread-core-ha-config-posix.h
Labels: cla-signed, add-on: openthread_border_router

#3850 Update mosquitto image to latest versions
  mosquitto/CHANGELOG.md
  mosquitto/Dockerfile
  mosquitto/build.yaml
  mosquitto/config.yaml
Labels: cla-signed, add-on: mosquitto

#3864 openthread_border_router: Fix start with containerd.io to 1.7.24-1
  openthread_border_router/CHANGELOG.md
  openthread_border_router/config.yaml
Labels: cla-signed, add-on: openthread_border_router

#3890 openthread_border_router: Bump OTBR and and flasher versions
  openthread_border_router/0001-support-deleting-the-dataset.patch
  openthread_border_router/CHANGELOG.md
  openthread_border_router/Dockerfile
  openthread_border_router/build.yaml
  openthread_border_router/config.yaml
Labels: cla-signed, add-on: openthread_border_router

#3877 samba: Update smb.gtpl to enable files app on iOS / iPads 18+
  samba/CHANGELOG.md
  samba/config.yaml
  samba/rootfs/usr/share/tempio/smb.gtpl
Labels: cla-signed, add-on: samba

#3701 Samba: Update Samba add-on to allow selectively enabling folders
  samba/CHANGELOG.md
  samba/DOCS.md
  samba/config.yaml
  samba/rootfs/etc/s6-overlay/s6-rc.d/init-smbd/run
  samba/rootfs/usr/share/tempio/smb.gtpl
  samba/translations/en.yaml
Labels: cla-signed

#3892 Add support for timers in Assist Microphone
  assist_microphone/CHANGELOG.md
  assist_microphone/DOCS.md
  assist_microphone/build.yaml
  assist_microphone/config.yaml
  assist_microphone/rootfs/etc/s6-overlay/s6-rc.d/assist_microphone/run
  assist_microphone/sounds/timer_finished.wav
  assist_microphone/translations/en.yaml
Labels: cla-signed, add-on: assist_microphone
