Repository home-assistant/addons, pull requests merged in 2025-08, with the labels that each got.

#4073 duckdns: Only deploy challenge for main domain
  duckdns/CHANGELOG.md
  duckdns/config.yaml
  duckdns/rootfs/root/hooks.sh
Labels: cla-signed, add-on: duckdns

#4106 duckdns: Fix limitation of single TXT record
  duckdns/CHANGELOG.md
  duckdns/config.yaml
  duckdns/rootfs/etc/s6-overlay/s6-rc.d/duckdns/run
  duckdns/rootfs/root/hooks.sh
Labels: cla-signed, add-on: duckdns

#4101 Allow to specify ezsp-baudrate in silabs_flasher
  silabs_flasher/CHANGELOG.md
  silabs_flasher/DOCS.md
  silabs_flasher/config.yaml
  silabs_flasher/rootfs/etc/s6-overlay/scripts/universal-silabs-flasher-up
  silabs_flasher/translations/en.yaml
Labels: cla-signed, add-on: silabs-flasher

#4116 matter_server: Bump Python Matter server to 8.1.0
  matter_server/CHANGELOG.md
  matter_server/build.yaml
  matter_server/config.yaml
Labels: cla-signed, add-on: matter_server

#4118 [Piper] Add missing voice for Argentinian Spanish (daniela)
  piper/CHANGELOG.md
  piper/config.yaml
Labels: cla-signed, add-on: piper

#4134 letsencrypt: Bump certbot-dns-desec to 1.3.1
  letsencrypt/CHANGELOG.md
  letsencrypt/build.yaml
Labels: cla-signed, add-on: letsencrypt

#4143 Bump zwavejs to v15.12.0
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed
