Repository home-assistant/addons, pull requests merged in 2025-02, with the labels that each got.

#3856 letsencrypt: Use maintained Hurricane Electric certbot plugin
  letsencrypt/CHANGELOG.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3875 Refactor git-pull
  git_pull/CHANGELOG.md
  git_pull/Dockerfile
  git_pull/build.yaml
  git_pull/config.yaml
  git_pull/data/run.sh
Labels: cla-signed, add-on: git_pull

#3918 Fix using wrong log level from bashio. Fixes #3917
  git_pull/CHANGELOG.md
  git_pull/config.yaml
  git_pull/data/run.sh
Labels: cla-signed

#3866 letsencrypt: Added rfc2136_sign_query to dns-rfc2136 provider
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
Labels: cla-signed, add-on: letsencrypt

#3922 Add speech-to-phrase
  speech_to_phrase/CHANGELOG.md
  speech_to_phrase/DOCS.md
  speech_to_phrase/Dockerfile
  speech_to_phrase/README.md
  speech_to_phrase/build.yaml
  speech_to_phrase/config.yaml
  speech_to_phrase/icon.png
  speech_to_phrase/logo.png
  speech_to_phrase/rootfs/etc/s6-overlay/s6-rc.d/discovery/dependencies.d/speech-to-phrase
  speech_to_phrase/rootfs/etc/s6-overlay/s6-rc.d/discovery/run
  speech_to_phrase/rootfs/etc/s6-overlay/s6-rc.d/discovery/type
  speech_to_phrase/rootfs/etc/s6-overlay/s6-rc.d/discovery/up
  speech_to_phrase/rootfs/etc/s6-overlay/s6-rc.d/speech-to-phrase/dependencies.d/base
  speech_to_phrase/rootfs/etc/s6-overlay/s6-rc.d/speech-to-phrase/finish
  speech_to_phrase/rootfs/etc/s6-overlay/s6-rc.d/speech-to-phrase/run
  speech_to_phrase/rootfs/etc/s6-overlay/s6-rc.d/speech-to-phrase/type
  speech_to_phrase/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/discovery
  speech_to_phrase/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/speech-to-phrase
  speech_to_phrase/translations/en.yaml
Labels: cla-signed

#3925 Update logo for Speech-to-Phrase
  speech_to_phrase/DOCS.md
  speech_to_phrase/config.yaml
  speech_to_phrase/logo.png
Labels: cla-signed

#3928 Bump speech-to-phrase to 1.2.0
  speech_to_phrase/CHANGELOG.md
  speech_to_phrase/build.yaml
  speech_to_phrase/config.yaml
Labels: cla-signed

#3929 Update SSH DOCS.md with working keygen link
  ssh/DOCS.md
Labels: cla-signed, add-on: ssh

#3930 Bump Z-Wave JS to 14.3.8 and Z-Wave JS Server to 1.40.3
  zwave_js/CHANGELOG.md
  zwave_js/build.yaml
  zwave_js/config.yaml
Labels: cla-signed

#3902 letsencrypt: Update certbot and dns plugins
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed

#3937 letsencrypt: Add Eurodns DNS support
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed, add-on: letsencrypt

#3936 letsencrypt: update certbot, acme and dns-inwx
  letsencrypt/CHANGELOG.md
  letsencrypt/build.yaml
  letsencrypt/config.yaml
Labels: cla-signed, add-on: letsencrypt

#3938 Re-enable dns-mijn-host
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/build.yaml
  letsencrypt/config.yaml
Labels: cla-signed, cla-error, add-on: letsencrypt

#3940 Bump speech-to-phrase to 1.3.0
  speech_to_phrase/CHANGELOG.md
  speech_to_phrase/build.yaml
  speech_to_phrase/config.yaml
Labels: cla-signed

#3945 Downgrade the builder runner from `ubuntu-latest` to `ubuntu-22.04`
  .github/workflows/builder.yml
Labels: cla-signed

#3950 Samba: Add the ability to enable and disable trying to become a local master browser on a subnet
  samba/CHANGELOG.md
  samba/DOCS.md
  samba/config.yaml
  samba/rootfs/usr/share/tempio/smb.gtpl
  samba/translations/en.yaml
Labels: cla-signed, add-on: samba

#3943 letsencrypt: refactor addon
  letsencrypt/CHANGELOG.md
  letsencrypt/DOCS.md
  letsencrypt/Dockerfile
  letsencrypt/README.md
  letsencrypt/build.yaml
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
  letsencrypt/translations/en.yaml
Labels: cla-signed, add-on: letsencrypt

#3958 letsencrypt: fix TransIP global_key handling
  letsencrypt/CHANGELOG.md
  letsencrypt/config.yaml
  letsencrypt/rootfs/etc/cont-init.d/file-structure.sh
  letsencrypt/rootfs/etc/services.d/lets-encrypt/run
Labels: cla-signed
